@charset "UTF-8";

body{
    background-color: #28e0ed60;
    font-family: Arial, Helvetica, sans-serif;
}

h1{ 
    color: #0e4f54;
}

h1#principal{
   text-align: center;
   color: #28e0ed88;
   background-color:#147178 ;
}

h2{
   color: rgb(7, 63, 7);
}

.basico{
    color: #3E7D5F;
}

.intermediario{
    color: #DEC67A;
    
}

.avancado{
    color: #C23D36;
    
}