@charset "UTF-8";

:root {
    --main: #d3ad7f;
    --black: #13131a;
    --bg: #010103;
    --border: 0.1rem solid var(--black);
    font-size: 10px;
}

img.raced {
    width: 100px;
}

* {
   margin: 0px;
   padding: 0px;
   font-family: Arial, Helvetica, sans-serif;
   outline: none;
   border: none;
   text-decoration: none;
   text-transform: capitalize;
   transition: 0.2s linear;
}

body {
    background-color: var(--bg);
}

section {
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: var(--border);
    background-color: black;
}

.header section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar a {
    margin: 0 1rem;
    color: rgba(235, 235, 26, 0.856);
    font-size: 1.5rem;
}

.navbar a:hover {
    color: var(--main);
    border-bottom: 0.1rem solid var(--main);
    padding-bottom: 0.5rem;
    transition: .3s linear;
    font-size: 1.6rem;
}

.lupa {
    width: 25px;
}

.cart {
    width: 25px;
}

.icons img {
    margin: 1rem;
    cursor: pointer;
}

.icons img:hover {
    width: 29px;
}

.btn {
    background-color: var(--main);
    color: #fff;
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem;
    display: inline-block;
}

.home-container {
    background: url(../imagens/yawder-tdb-bg.jpg);
    height: 100vh;
    background-position: center center;
    background-size: cover;
}

.home-container section {
    display: flex;
    align-items: center;
    min-height: 100vh;
}

.content {
    max-width: 60rem;
}

.content h3 {
    color: white;
    font-size: 6rem;
}

.content p {
    color: white;
    font-size: 1.6rem;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;
}



