@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #dd7dfaaf;
}

main {
    position: absolute;
    background-image: linear-gradient(to top, #ce9adf, rgba(255, 255, 255, 0.514));
    width: 350px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.178);

    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

 section.roxo {
    position: relative;
    background-color: #dd95f3b6;
    width: 350px;
    height: 65px;
    top: 296px;
    border-radius: 0px 0px 20px 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.219);
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.137);
 }

.PAG01 {
    position: absolute;
    color: rgba(255, 255, 255, 0.76);
    font-weight: bolder;
    top: 21px;
    left: 25px;
    cursor: pointer;
    padding: 4px;
}

.PAG01:hover {
    background-color: rgba(211, 211, 211, 0.589);
    border-radius: 5px;
    transition: .3s;
}

.PAG02 {
    position: absolute;
    color: rgba(255, 255, 255, 0.801);
    font-weight: bolder;
    top: 21px;
    left: 40%;
    padding: 4px;
}

.PAG02:hover {
    background-color: rgba(211, 211, 211, 0.589);
    border-radius: 5px;
    transition: .3s;
}

.PAG03 {
     position: absolute;
    color: rgba(255, 255, 255, 0.801);
    font-weight: bolder;
    top: 21px;
    left: 73%;
    padding: 4px;
}

.PAG03:hover {
    background-color: rgba(211, 211, 211, 0.589);
    border-radius: 5px;
    transition: .3s;
}
