@charset "UTF-8";

body {
font-family: Arial, Helvetica, sans-serif;
background-color: #dd87e0c2;
}

main {
    background-image: linear-gradient(to top, #ce9adfc2, rgba(255, 255, 255, 0.685));
    position: absolute;
    width: 300px;
    height: 300px;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
}

article {
    position: absolute;
    background-color:#f98cfd96;
    width: 300px;
    height: 57px;
    top: 80%;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.116);
}



p {
   color: rgba(255, 255, 255, 0.795);
   font-weight: bolder;
   display: inline-block;
   padding-left: 30px;
   cursor: pointer;
}

p:hover {
   background-color: rgba(243, 243, 243, 0.445);
    margin: 10px;
    transition: .3s ;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

a {
  color: rgba(255, 255, 255, 0.795);
  text-decoration: none;
}




